<%- include('partials/header', {title: 'Post - Blog App' }) %>

<div class="container mt-4">
	<div class="row justify-content-center">
		<div class="col-md-8">
			<article id="post-content">
				<!-- Post content will be loaded here -->
				<div class="text-center">
					<div class="spinner-border" role="status">
						<span class="visually-hidden">Loading post...</span>
					</div>
				</div>
			</article>
		</div>
	</div>
</div>

<%- include('partials/footer') %>
